.maindiv {
    /* background-color: #55AD9B */
    background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-56060.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710460800&semt=ais");
}

.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    
}

.main:hover {
    background-color: black;
}

.main {
    
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 20px;
    text-align: center;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    background: #454545;
    transition: background-color 2s ease-out 100ms;
}

.main span {
    text-decoration: none;
}

.main img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
}